*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html{
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: currentColor;
}

.center{
  margin: auto;
}

.AppBody{
  padding-top: 65px;
}

.BannerSection{
  height: 570px;
  width: 100%;
  padding-top: 20px;
}

.Listing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  transition: 500ms;
}

.btn{
  height: 60px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 1px 4px 0 #494a4b;
  transform: translateY(-5px);
  font-size: 20px;
  font-weight: 600;
}

.btn:active{
  transform: translateY(0px);
}

.arrow{
  height: 30px;
  width: 30px;
  font-size: 25px;
  text-align: center;
  line-height: 33px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrow.right{
  position: absolute;
  top: 70%;
  right: 20px;

}

.arrow.left {
  position: absolute;
  top: 70%;
  left: 20px;
  z-index: 2;
}

.btn.control{
  position: fixed;
  height: 50px;
  width: 100px;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.notification {
  position: absolute;
  top: 5vh;
  right: 1vh;
  z-index: 99;
  animation: show 500ms ease;
}

.info {
  width: 320px;
  background-color: #509AF8 ;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.success {
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #84D65A;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #393A37;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #393A37;
}

.warning {
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #F7C752;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.warning__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.warning__icon path {
  fill: #393A37;
}

.warning__title {
  font-weight: 500;
  font-size: 14px;
  color: #393A37;
}

.error {
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 15px;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.page {
  width: 95%;
  height: 88vh;
  background-color: white;
  border: 2px solid black;
  box-shadow: 6px 6px black;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  overflow: scroll;
}

a[href="/admin"],a[href="/userpage"] {
  height: 100%;
}

a[href="/admin"] > svg,a[href="/userpage"] > svg {
  height: 100%;
  width: 80%;
  cursor: pointer;
  
}

.personalinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  padding: 20px;
  justify-content: space-evenly;
}

.page.user {
  display: grid;
}

.userinfoo {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 5%;
}

.shipments{
 width: 60%;
}
.personalinfo {
  width: 40%;
}

.btn.editinfo {
  height: 50px;
  width: 100%;
  font-size: larger;
}

.title.user {
  font-size: 2em;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.form.log {
  position: relative;
  z-index: 1;
  top: auto;
  left: auto;
}

.ctas {
  display: flex;
  gap: 20px;
}

.form.log {
  position: relative;
  z-index: 1;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn.log {
  height: 40px;
  background: white;
}

.window.notaccess {
  top: 25vh;
  left: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noticon {
  height: 20vh;
}

.failtitle {
  text-transform: uppercase;
  letter-spacing: 9px;
}

.failbtn {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 1px 4px 0px #509AF8;
  background: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 300ms;
}

.failbtn:hover{
  transform: translateY(-5px);
}

.failbtn:active{
  transform: translateX(0px);
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: 95%;
}

.filter {
  height: 30px;
  min-width: 150px;
  border: 2px solid black;
  box-shadow: 6px 4px black;
}