*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html{
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: currentColor;
}


.AppBody{
  overflow: hidden;
  padding-top: 65px;
}

.BannerSection{
  height: 570px;
  width: 100%;
  padding-top: 20px;
}

.Listing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  transition: 500ms;
}

.btn{
  height: 60px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 1px 4px 0 #494a4b;
  transform: translateY(-5px);
  font-size: 25px;
  font-weight: 600;
}

.btn:active{
  transform: translateY(0px);
}

.arrow{
  height: 30px;
  width: 30px;
  font-size: 25px;
  text-align: center;
  line-height: 33px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrow.right{
  position: absolute;
  top: 70%;
  right: 20px;

}

.arrow.left {
  position: absolute;
  top: 70%;
  left: 20px;
  z-index: 2;
}

.btn.control{
  position: fixed;
  height: 50px;
  width: 100px;
  bottom: 0;
  right: 0;
  z-index: 3;
}
