/**Product Card*/

.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 250px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:last-child {
  justify-content: flex-end;
}

.card-img {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-img .img {
  transform: scale(1);
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
  height: 36%;
  overflow: scroll;
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card:hover > .card-img {
  
  transform: translateY(-15px);
}

.card-btn:hover {
  border: 2px solid var(--main-focus);
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}

/**Product Card*/

/**TopBanner*/

@keyframes loop {
  0% {
    transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.TopBanner{
  height: 30px;
  background-color: #323232;
  color: #fff;
  font-family: "Proxima Nova", sans-serif;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
}

.TopText{
  display: inline-block;
  padding-left: 100%;
  animation: loop 15s linear infinite;
}

/**TopBanner*/

/**Header*/
.header {
  background-color: #2d8cf0;
  position: sticky;
  z-index: 2;
  height: 60px;
  width: 99%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
}

.menubtn{
  height: 100%;
  width: 6vh;
  cursor: pointer;
  background-color: transparent;
  border: none;

}

.menubtn > svg {
  height: 100%;
  width: 100%;
}

.icons{
  display: flex;
  height: 100%;
  align-items: center;
}

.iconbutton{
  height: 100%;
  background-color: transparent;
  border: none;
}

.iconbutton > svg {
  height: 100%;
  width: 80%;
  cursor: pointer;
}


/**Header*/

/**Login*/

@keyframes show {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.wrapper {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
     display: flex; 
     flex-direction: column; 
     align-items: center;
     position: absolute;
     top: 50vh;
     left: 55vh; 
  animation: show 500ms ease;
}
/* switch card */
.switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: 'Log in';
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: 'Sign up';
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/*? card */ 

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front, .flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: lightgrey;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
} 
/**Login*/

/**Menu*/

@keyframes showmenu {
  0%{
    transform: translateY(-900px);
  }
  100%{
    transform: translateY(0px);
  }
}

.menu {
  position: absolute;
  top: 60px;
  left: 12px;
  z-index: 1;
  height: 87%;
  width: 98%;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  overflow: hidden;
  animation: showmenu 500ms ease;
  background-color: #2d8cf0;
}

.menurow{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 10vh;
  width: 100%;
}

.searchcont {
  height: 45px;
  width: 250px;
}

.search {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  box-shadow: 8px 8px 0 black;
  padding: 12px;
  transition: all 300ms ease;
}

.search:hover {
  transform: translate(-4px, -4px);
  box-shadow: 12px 12px 0 #000;
}

.search:focus{
  outline: none;
}

/**Menu*/

/**Cart*/

@keyframes showcart {

  0%{
    transform: translate(100%);
  }

  100%{
    transform: translateX(0%);
  }
  
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidecart {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 3;
  height: 99%;
  width: 45%;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px black;
  background-color: #2d8cf0;
  animation: showcart 300ms ease;
}

/**Cart*/